.body{
  background-color: gray;
}

.card{
  box-shadow: 3px 6px 15px red, 0 0 .4em olive;
  border-radius: 6px;
  margin:5px;
  padding:1px;
  background-color: black;

}

.upper{
  display:flex;
  margin:10px;
  justify-content: space-around;

 
}
.image{
  width:5vw;
  height:5vh;
}
